.modal-container {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.modal-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    height: auto;
    max-height: 800px;
    width: 90%;
    max-width: 500px;
    background-color: rgb(137, 137, 203);
}

.modal-header {
    margin: 5%;
}

.modal-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5%;
   
}
.modal-button {
    margin-left: 20px;
}

